$purple:#cf9aff;
$light-purple: #fbf6ff;

.character-sheet {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    max-width: 60em;
    /* width: 89em; */
    grid-template-columns: 60% 40%;
    margin: 0 auto;
}

.char-portrait {
    img {
        width: 100%;
        border: 1px solid $purple;
    }
}

section.dashboard-search-area {
    width: 100%;
    text-align: center;
    align-items: center;
    // height: 100%;
    justify-content: center;
    margin: 0 0 0;
    p {
        line-height: 2;
        font-size: 1.2em;
        font-weight: 100;
        margin-bottom: 0;
        &.err-msg{
            margin: -16px 0 10px ;
            color: #ed5d5d;
            font-size: 14px;
            font-weight: 700;
        }
    }
    .search-inp {
        width: 100%;
        max-width: 60em;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 25px 20px;
        margin: 0 auto;
        display: grid;
        border-radius: 20px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        .char-search {
            width: 100%;
            margin: 20px auto 0;
            max-width: 40em;

        }
        button {
            width: 150px;
            margin: 0 auto;
        }
    }
}

.char-name {
    /* grid-area: header; */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: end;
    padding-bottom: 0;
    div:first-child {
        font-size: 24px;
        color: $purple;
    }
    div:last-child {
        color: $light-purple;
    }
}

section.character-proper {
    /* grid-area: main; */
    grid-row-start: 2;
}

section.user-progression {
    /* grid-area: left; */
    grid-row-start: 2;
    grid-column-start: 2;
    h2 {
        border-bottom: 1px solid #b24ddd;
        margin: 0 0 25px;
        padding: 0 0 8px;
        animation-name:ea;
        animation-duration:.2s;
    }
}


@keyframes ea{
    from{width:0;}
    to{width:100%}
}

section.char-section:before {
    content: "";
    height: 1px;
    width: 100%;
    background:#ffffff44;
    display: block;
    margin: 0 auto;
    animation-name:ea;
    animation-duration:.2s;
}