<div>
    <section class="filter-area">
        <div>
        <div class="page-name">
            <h2>Character</h2>
            <span>Mounts</span>
        </div>
        <mat-form-field *ngIf="!errorShow" appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select [(ngModel)]="selectedval" (ngModelChange)="toggleShow($event)">
                <mat-option *ngFor="let opt of filterOptions" [value]="opt.value">
                    {{opt.viewValue}}
                </mat-option> 
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="!errorShow" appearance="fill">
                 <input matInput type="search" id="search-box" [(ngModel)]= 'minNames'>
                 <span matSuffix><span class="material-icons">
                    search
                    </span></span>
          </mat-form-field>
        </div>
    </section>
    <div *ngIf="showSpinner" class="spin-overlay">
        <mat-spinner></mat-spinner>
      
      </div>
    <section>
        <div class="err-cont" *ngIf="errorShow">{{errMsg}}</div>
        <div *ngIf="!errorShow" class="items-collected">
            <p>
                {{comdata.characterData.minions.count}} of {{comdata.characterData.minions.total}} obtained.
            </p>
        </div>

        <div class="minion-container">
            <ng-container *ngFor="let minion of finalMinionList | searchFilter : minNames">
                <div class="minion-box" (click)="itemClick(minion)" [ngClass]="minion.isOwned ? 'owned' : ''" >
                    <img src="{{minion.image}}" />
                    <span>{{minion.name}}</span></div>
            </ng-container>
        </div>

    </section>
</div>
