<!-- <header>
  <div class='logo'>
    <div>logo</div>
  </div>

  <div class="profile">
    <img src="" alt="charcater name"/>
    <span class="profile-name">Lorem Ipsum</span>
  </div>
</header> -->
<nav>
    <a mat-button routerLinkActive="acive-link" routerLink="/home">Dashboard</a>
    <a *ngIf="showLink" mat-button routerLinkActive="acive-link" routerLink="/mounts">Mounts</a>
    <a *ngIf="showLink" mat-button routerLinkActive="acive-link" routerLink="/minions">Minions</a>
</nav>

<router-outlet (activate)="onValueChange($event)"></router-outlet>

<!-- <app-character-panel *ngIf="characterID" [characterID]="characterID"></app-character-panel> -->



