<header>
  <div class='logo'>
    <div>logo</div>
  </div>
  <div class="search-inp">
    <input type="text" name="text">
    <button>Profile Character</button>
  </div>
  <div class="profile">
    <img src="" alt="charcater name"/>
    <span class="profile-name">Lorem Ipsum</span>
  </div>
</header>
<nav>
  <nav>
    <a mat-button href="#">Dashboard</a>
    <a mat-button ref="#">Achievements</a>
    <a mat-button href="#">Mounts</a>
    <a mat-button href="#">Minions</a>
  </nav>
</nav>

<app-character-panel></app-character-panel>



