<header>
  <div class='logo'>
    <div>logo</div>
  </div>

  <div class="profile">
    <img src="" alt="charcater name"/>
    <span class="profile-name">Lorem Ipsum</span>
  </div>
</header>
<nav>
  <nav>
    <a mat-button routerLink="/home">Dashboard</a>
    <a mat-button routerLink="/mounts">Mounts</a>
    <a mat-button routerLink="/minions">Minions</a>
  </nav>
</nav>

<router-outlet></router-outlet>

<!-- <app-character-panel *ngIf="characterID" [characterID]="characterID"></app-character-panel> -->



